.normal {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 50px;
  background-color:brown;
}

.body {
  width: 100%;
  height: calc(100vh - 50px);
  background-color:blue;
}

.sider {
  background-color: blueviolet;
  height: 100%;
}

.main {
  background-color: aqua;
  height: 100%;
}
